$current-font-path: "#{$fonts-root}roboto/";

@mixin ff-roboto() {
    font-family: 'Roboto', sans-serif;
}

.ff-roboto {
    @include ff-roboto();
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url("#{$current-font-path}roboto-v18-latin-300.eot"); 
    src: local('Roboto Light'), local('Roboto-Light'),
            url('#{$current-font-path}roboto-v18-latin-300.eot?#iefix') format('embedded-opentype'),
            url('#{$current-font-path}roboto-v18-latin-300.woff2') format('woff2'),
            url('#{$current-font-path}roboto-v18-latin-300.woff') format('woff'),
            url('#{$current-font-path}roboto-v18-latin-300.ttf') format('truetype'), 
            url('#{$current-font-path}roboto-v18-latin-300.svg#Roboto') format('svg'); 
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('#{$current-font-path}roboto-v18-latin-regular.eot'); 
    src: local('Roboto'), local('Roboto-Regular'),
            url('#{$current-font-path}roboto-v18-latin-regular.eot?#iefix') format('embedded-opentype'), 
            url('#{$current-font-path}roboto-v18-latin-regular.woff2') format('woff2'), 
            url('#{$current-font-path}roboto-v18-latin-regular.woff') format('woff'), 
            url('#{$current-font-path}roboto-v18-latin-regular.ttf') format('truetype'), 
            url('#{$current-font-path}roboto-v18-latin-regular.svg#Roboto') format('svg');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('#{$current-font-path}roboto-v18-latin-700.eot'); 
    src: local('Roboto Bold'), local('Roboto-Bold'),
            url('#{$current-font-path}roboto-v18-latin-700.eot?#iefix') format('embedded-opentype'), 
            url('#{$current-font-path}roboto-v18-latin-700.woff2') format('woff2'),
            url('#{$current-font-path}roboto-v18-latin-700.woff') format('woff'), 
            url('#{$current-font-path}roboto-v18-latin-700.ttf') format('truetype'), 
            url('#{$current-font-path}roboto-v18-latin-700.svg#Roboto') format('svg'); 
}