@each $name, $color in $foundation-palette {
  .bg-#{$name} {
    background-color: $color;
  }
  .col-#{$name} {
    color: $color;
  }
}

.bg-white {
  background: $white;
}

.col-black {
  color: $black;
}

.bg-black {
  background: $black;
}

.col-white {
  color: $white;
}
